$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//variables
$bg-widget-color: #FEFEFE;
$bg-widget-color2: #F6F1ED;
$fc-widget-color: #B1A599;
$fc-widget-color2: #5C5146;
$aux-widget-color: #4DAF7B;
$aux-widget-color2: #E55F3B;
$aux-widget-color3: #5E90AF;
$aux-widget-color4: #EBC85E;
$aux-widget-color5: #F3ECE6;

//end variables

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-color: #C18068;
  color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  background-color: $bg-widget-color;
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.profile{

  background-color: $bg-widget-color;
  color: $fc-widget-color2;
  width: 100%;

  .coverpic-container{
    margin: 0 0;
  }

  .coverpic{
    max-height: 200px;
    height: 150px;
    width: 100%;
  }

  .profiledesc{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 0;
  }

  .profilepic{
    width: 100%;
    padding: 5px 5px;
    border-radius: 50%;
    border: 2px solid $fc-widget-color;
  }

  .stats{
    background-color: $bg-widget-color2;
    margin: 0 0;

    .stat{
      padding: 10%;
      color: $fc-widget-color;
      font-size: 1.2em;
    }

    .stat:hover{
      color: $aux-widget-color2;
      text-decoration: underline;
      cursor: pointer;
    }
  }

}

.contact-options{

  background-color: $bg-widget-color;
  color: $fc-widget-color2;
  width: 100%;

  .profiledesc{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 0;
    background-color: $fc-widget-color;
    color: #FFFFFF;
  }

  .profiledesc p a{
    color: $fc-widget-color2;
  }

  .profilepic{
    width: 100%;
    padding: 5px 5px;
    border-radius: 50%;
    border: 2px solid $fc-widget-color2;
  }

  .options-container{
    margin: 0 0;
    color: $fc-widget-color;

    a{
      color: $fc-widget-color;
      border-radius: 0px;
    }

    a:hover{
      background-color: $bg-widget-color2;
      color: $fc-widget-color;
      border-left: 3px solid $aux-widget-color;

      span{
        color: $aux-widget-color2;
      }
    }
  }



}

.contact-form{
  background-color: $bg-widget-color;
  color: $fc-widget-color;
  padding: 5%;

  .submit{
    text-align: right;
  }
}

.btn-primary{
  background-color: $aux-widget-color2;
  border-color: $aux-widget-color2;
}

.btn-primary:hover{
  background-color: darken($aux-widget-color2, 13);
  border-color: darken($aux-widget-color2, 13);
}

.btn-primary:active{
  background-color: darken($aux-widget-color2, 13);
  border-color: darken($aux-widget-color2, 13);
}

.btn-primary:active:hover{
  background-color: darken($aux-widget-color2, 23);
  border-color: darken($aux-widget-color2, 23);
}

.btn-primary[disabled]:hover{
  background-color: darken($aux-widget-color2, 13);
  border-color: darken($aux-widget-color2, 13);
}

.btn-default{
  background-color: darken($bg-widget-color2, 5);
  border-color: darken($bg-widget-color2, 5);
  color: #FFFFFF;
}

.btn-default:hover{
  background-color: darken($bg-widget-color2, 13);
  border-color: darken($bg-widget-color2, 13);
  color: #FFFFFF;
}

// Input tag style
.contacts input{
  width: 100% !important;
}

.contacts .tags {
  background-color: $bg-widget-color;
  border: 1px solid $fc-widget-color;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contacts .tags.focused {
  border-color: darken($bg-widget-color, 13);
  box-shadow: inset 0 1px 1px $bg-widget-color2, 0 0 8px $fc-widget-color2;
}

.contacts .tags .tag-item {
  background: $aux-widget-color;
  border: 1px solid $aux-widget-color;
  border-radius: 4px;
  color: #fff;
}

.contacts .tags .tag-item.selected {
  background: darken($aux-widget-color, 13);
  border: 1px solid darken($aux-widget-color, 13);
  border-radius: 4px;
  color: #fff;
}

.contacts .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.contacts .autocomplete {
  border-radius: 4px;
}

.contacts .autocomplete .suggestion-item.selected {
  color: $fc-widget-color2;
  background-color: $bg-widget-color2;
}

.contacts .autocomplete .suggestion-item em {
  font-weight: 0.5em;
  background-color: $fc-widget-color;
}

.contacts .autocomplete .suggestion-item.selected em {
  color: $fc-widget-color2;
  background-color: $bg-widget-color2;
}

.tag2 {
  background: $aux-widget-color3 !important;
}

.tag1 {
  background: $aux-widget-color !important;
}

.tag1.selected, .tag2.selected {
  background: darken($aux-widget-color, 13) !important;
}

// Data transfer style
.reports li.active a{
  background-color: $bg-widget-color;
  color: $fc-widget-color;
}

.reports li a:hover{
  background-color:darken( $bg-widget-color, 13);
  color: $fc-widget-color;
}

.reports a{
  background-color: transparent;
  border: 2px solid $bg-widget-color !important;
  color: $bg-widget-color;
}

.datatransfer{
  background-color: $bg-widget-color;
  color: $fc-widget-color;

  .title h5{
    font-weight: bold;
    padding-top: 10px;
  }

  .chart{
    position: relative;
    width:100%;
    height: 100%;

    .summary{
      left:50%;
      top:50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position:absolute;

      h4{
        color: $aux-widget-color2;
      }

      h1{
        font-weight: bold;
      }
    }
  }

  .stats{
    background-color: $bg-widget-color2;
    display: block;

    .stat{
      padding: 2%;
      color: $fc-widget-color;
      font-size: 1.2em;

      h6{
        font-weight: bold;
      }
    }

    .stat:hover{
      color: $aux-widget-color2;
      text-decoration: underline;
      cursor: pointer;
    }

    .sg{
      border-top: 2px solid $aux-widget-color;
      border-left: 2px solid $bg-widget-color;
    }

    .sr{
      border-top: 2px solid $aux-widget-color2;
      border-left: 2px solid $bg-widget-color;
    }

    .sy{
      border-top: 2px solid $aux-widget-color4;
      border-left: 2px solid $bg-widget-color;
    }

    .sw{
      border-top: 2px solid $aux-widget-color5;
      border-left: 2px solid $bg-widget-color;
    }
  }

  .actions{

    .action{
      padding: 0 0;
    }

    .btn-secondary{
      width: 100%;
      border-radius: 0px;
      margin: 0 0;
      color: $bg-widget-color;
      background-color: lighten($fc-widget-color2, 13);

      span{
        font-size: 1.5em;
      }
    }

    .btn-secondary:hover{
      background-color: $fc-widget-color2;
    }

  }
}

.language-select{
  color: #555555;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
