<section ng-controller="contactFormCtrl" class="contact-form">
  <form name="msgForm">
    <div class="alert alert-dismissable alert-success" ng-repeat="alert in alerts" type="{{alert.type}}">
      <button type="button" class="close" ng-click="closeAlert($index)" data-dismiss="alert">×</button>      
      {{alert.msg}}
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(msgForm.name)}">
      <label class="control-label" for="name">Contacts*</label>
      <tags-input class="contacts" placeholder="Type to add a contact" tag-class="{tag1: $index % 2 == 0, tag2: $index % 2 != 0}" ng-model="msg.name" display-property="name">
          <auto-complete source="loadItems()" max-results-to-show="5"
                     template="/widgets/contactData.html"></auto-complete>
      </tags-input>
      <span class="help-block" ng-show="showError(msgForm.name, 'required')">Este dato es importante.</span>
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(msgForm.subject)}">
        <label class="control-label" for="subject">Subject*</label>
        <input type="text" name="subject" id="subject" class="form-control" ng-model="msg.subject" required>
        <span class="help-block" ng-show="showError(msgForm.subject, 'required')">Este dato es importante.</span>
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(msgForm.message)}">
        <label class="control-label" for="message">Mensaje*</label>
        <textarea name="message" id="message" rows="5" class="form-control" ng-model="msg.message" required></textarea>
        <span class="help-block" ng-show="showError(msgForm.message, 'required')">Este dato es importante</span>
    </div>
    <div class="form-group submit">
      <span class="copy-option pull-left"><input type="checkbox" aria-label="..."> Save a copy</span>
      <button type="button" class="btn btn-primary btn-contact" ng-disabled="!canSave()" ng-click="submit()">Send Mail</button>
    </div>
  </form>
</section>
