<section ng-controller="contactFormCtrl" class="contact-form">
  <form name="msgForm">
    <div class="alert alert-dismissable alert-success" ng-repeat="alert in alerts" type="{{alert.type}}">
      <button type="button" class="close" ng-click="closeAlert($index)" data-dismiss="alert">×</button>
      {{alert.msg}}
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(msgForm.name)}">
      <label class="control-label" for="name">{{"directives.contactForm.Contacts" | translate}}*</label>
      <tags-input class="contacts" placeholder="{{'directives.contactForm.Typetoaddacontact' | translate}}" tag-class="{tag1: $index % 2 == 0, tag2: $index % 2 != 0}" ng-model="msg.name" display-property="name">
          <auto-complete source="loadItems()" max-results-to-show="5"
                     template="/widgets/contactData.html"></auto-complete>
      </tags-input>
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(msgForm.subject)}">
        <label class="control-label" for="subject">{{"directives.contactForm.Subject" | translate}}*</label>
        <input type="text" name="subject" id="subject" class="form-control" ng-model="msg.subject" required>
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(msgForm.message)}">
        <label class="control-label" for="message">{{"directives.contactForm.Message" | translate}}*</label>
        <textarea name="message" id="message" rows="5" class="form-control" ng-model="msg.message" required></textarea>
    </div>
    <div class="form-group submit">
      <span class="copy-option pull-left"><input type="checkbox" aria-label="..."> {{"directives.contactForm.Saveacopy" | translate}}</span>
      <button type="button" class="btn btn-primary btn-contact" ng-disabled="!canSave()" ng-click="submit()">{{"directives.contactForm.Sendmail" | translate}}</button>
    </div>
  </form>
</section>
